body
{
    background:#ddd;
}
.Slider
{
    position:relative;
    display:block;
    clear:both;
    height:20px;
    background:#eee;
    overflow:hidden;
    border-radius:5px;
}
.Slider .Bar
{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background:#0e8a74;
}
.Test
{
    padding:0.3rem;
    margin:2rem 1rem 3rem 1rem;
    background:#fff;
    border-radius:8px;
    box-shadow:0px 2px 5px #ddd;
}
.Test.Active .Slider .Bar
{
    background:#F00;
}
@keyframes animatedBackground
{
	from { background-position: 0 center; }
	to { background-position: 50px center; }
}
.Icon
{
    display:block;
    float:left;
    width:30px;
    height:30px;
    border:3px solid #0e8a74;
    border-radius:50px;
    margin-top:-2rem;
    margin-bottom:0.3rem;
    background:#fff url(WaveLow.png) repeat-x left center;
}
.Icon.Right
{
    float:right;
}
.Icon.High
{
    background-image:url(WaveHigh.png);
}
.Test.Active .Icon
{
    animation: animatedBackground 1s linear infinite;
}